.input_word {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_textarea {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0;
    width: 256px;
    margin: 8px 0;
    margin-right: 64px;
    height: 64px;
    position: relative;
    bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding-left: 4px;
    outline: none;
}
.button_number {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0;
    width: 256px;
    margin: 8px 0;
    margin-right: 64px;
    height: 64px;
    position: relative;
    font-size: 38px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
    border: 1px solid #eee;
}
.button_word {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0;
    width: 512px;
    margin: 8px 0;
    margin-right: 64px;
    height: 64px;
    font-size: 38px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
    border: 1px solid #eee;
}
.button {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 64px;
    height: 64px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    margin: 8px 0;
    margin-right: 64px;
    &:last-child {
        margin-right: 0;
    }
}
.container_create {
    padding-top: 24px;
    justify-content: center;
    //height: 100vh;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.table {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: fit-content;
    width: fit-content;
    .line {
        display: flex;
    }
    .line:first-child .char:first-child {
        border-top-left-radius: 4px;
    }
    .line:first-child .char:last-child {
        border-top-right-radius: 4px;
    }
    .line:last-child .char:first-child {
        border-bottom-left-radius: 4px;
    }
    .line:last-child .char:last-child {
        border-bottom-right-radius: 4px;
    }
    /*.line .char:first-child {
        border-left: 1px solid #eee;
    }
    .line:last-child .char {
        border-bottom: 1px solid #eee;
    }*/
    .line:first-child .char  {
        border-top: none;
    }
    .line .char:last-child {
        border-right: none;
    }
    .char {
        width: 64px;
        height: 64px;
        border-top: 1px solid #eee;
        border-right: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease;
        user-select: none;
        &:hover {
            color: #2c3e50;
        }
        &.active {
            color: #0070f3;
        }
    }
    p {
        margin: 0;
        font-size: 48px;
    }
}

.buttons_container {
    button {
        z-index: 2;
    }
}

.button_hover {
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: #f5f5f5;
    top: 6px;
    left: 6px;
    border-radius: 4px;
    transition: transform .3s ease;
}
.buttons_container button:hover {
    & ~ .button_hover {
        opacity: 1 !important;
        background-color: #fafafa;
    }
    &:nth-child(1) ~ .button_hover {
        transform: translateX(0px) !important;
        &~.tooltip:nth-child(6) {
            opacity: 1;
            bottom: 68px;
        }
    }
    &:nth-child(2) ~ .button_hover {
        transform: translateX(64px) !important;
        &~.tooltip:nth-child(7) {
            opacity: 1;
            bottom: 68px;
        }
    }
    &:nth-child(3) ~ .button_hover {
        transform: translateX(128px) !important;
        &~.tooltip:nth-child(8) {
            opacity: 1;
            bottom: 68px;
        }
    }
    &:nth-child(4) ~ .button_hover {
        transform: translateX(192px) !important;
        &~.tooltip:nth-child(9) {
            opacity: 1;
            bottom: 68px;
        }
    }
}
.tooltip {
    position: absolute;
    opacity: 0;
    width: fit-content;
    bottom: 62px;
    transition: all .3s ease;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    padding: 2px 4px;
    border-radius: 4px;
    pointer-events: none;
    p {
        width: fit-content;
        word-break: keep-all;
        margin: 0;
        color: #222;
    }
}